

.albums-page {
  .album-list {
    list-style: none;
    width: 80%;
    margin: 6rem auto;
    padding: 0;
    text-align: center;
    font-weight: 300;

    li {
      margin: 0 3rem 3rem 0;
      padding: 0;
      width: 30rem;
      display: inline-block;
    }
    
    img {
      display: block;
      width: 100%;
    }
  }

  /*.album-page {
    padding-top: 4rem;
    .content-container {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      img {
        display: block;
        width: 100%;
      }
    }
  }*/

  .album-link {
    display: block;
    width: 100%;
    padding: 5rem 2rem;
    text-align: center;
    font-size: 3rem;
    border: $border-width-meaurement solid $color-borders;
    border-radius: $border-radius-measurement;
    background-color: #fff;
    @include shadow-box-main;
    transition: .3s ease all;

    &:hover, &:focus {
      border-color: $color-link;;
      //@include shadow-box-main-hover;
    }

    &:focus {
      outline: none;
    }
  }
}
