html {
  font-size: 0.625rem; /* 10px equivalent thanks to default of 16px */
  background: $color-background;
  color: $color-text-primary;
  font-family: 'Comfortaa', sans-serif;

  // COOL LIL PINK DOTS
  // background: radial-gradient(
  //   circle,
  //   $color-secondary,
  //   $color-secondary 15%,
  //   $color-background 15%,
  //   $color-background
  // );
  // background-size: 20px 20px;

  // PINK CROSSES
  // background:
  //   radial-gradient(circle, transparent 20%, $color-background 20%, $color-background 80%, transparent 80%, transparent),
  //   radial-gradient(circle, transparent 20%, $color-background   20%, $color-background 80%, transparent 80%, transparent) 50px 50px,
  //   linear-gradient($color-secondary 8px, transparent 8px) 0 -4px,
  //   linear-gradient(90deg, $color-secondary 8px, transparent 8px) -4px 0;
  // background-color: $color-background;
  // background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;

  background:
  radial-gradient(circle, transparent 20%, $color-background 20%, $color-background 90%, transparent 90%, transparent),
  radial-gradient(circle, transparent 20%, $color-primary   20%, $color-primary 90%, transparent 90%, transparent) -4px -8px,
  linear-gradient($color-secondary 4px, transparent 4px) 0 -2px,
  linear-gradient(90deg, $color-secondary 4px, transparent 4px) -2px 0;

  background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
background-color: tint($color-borders, 95%);

  * {
    box-sizing: border-box;
  }
}

body {
  color: $color-text-primary;
  font-size: 1.6rem; /* 16px equivalent */
}

a {
  color: $color-link;
  text-decoration: none;
  transition: .1s ease all;
}

a:hover {
  color: $color-link-hover;
}

h2 {
  font-weight: 300;
  font-size: 4rem;
  margin-top: 0;
}


.content-container {
  width: 90%;
  margin: 4rem auto;
  text-align: center;
}


.menu-link {
  display: inline-block;
  padding: 2rem 2.3rem 2rem 2rem;
  text-align: center;
  border: $border-width-meaurement solid $color-borders;
  border-radius: $border-radius-measurement;
  background-color: #fff;
  @include shadow-box-main;
  transition: .3s ease all;

  &:hover, &:focus {
    border-color: $color-link;;
    //@include shadow-box-main-hover;
  }

  &:focus {
    outline: none;
  }

  &::before {
    font-family: FontAwesome;
   content: "\f0a5";
   display: inline-block;
   padding-right: 1rem;
  }
}

.album-page {
  padding: 0 4rem 4rem 4rem;
}
