.albums-header {
  padding: 3rem 0;
  background: $color-primary;
}
.albums-header h1 {
  font-size: 5rem;
  text-transform: lowercase;
  font-weight: 300;
  padding-left: 1em;
}


nav {
  margin: 0 4rem 4rem 0;
  float: left;
}

.album-page nav {
  height: 100vh;
  margin-bottom: 0; 
}

.nav-album-links {
}

.album-page nav {
    margin-top: 0;
  float: left;
  height: 100vh;
}
